<%= simple_form_for @mentee do |f| %>

  <div class="mb-5">
    <h4 class="indigodyeblue-text">Votre maladie</h4>

    <%= f.input :hospital, collection: @hospitals, as: :select, label: 'Votre centre de soin' %>
    <%= f.input :sickness, collection: @sicknesses, as: :select, label: 'Votre maladie' %>
  </div>

  <div class="mb-5">
    <h4 class="indigodyeblue-text">Vos hobbies</h4>

    <%= f.input :hobby_one, collection: @head_hobbies, label: "Un loisir parmi ceux proposé ?" %>
    <%= f.input :hobby_two, collection: @body_hobbies, label: "Un deuxième loisir ?" %>
  </div>

  <div class="mb-5">
    <h4 class="indigodyeblue-text">Vos infos personnelles</h4>
    <p>Si vous êtes déjà membre de PROJET X, votre parcours sera synchronisé à votre compte.</p>
    <div class="new-wish-form-others">
      <%= simple_fields_for :other do |o| %>
        <div class="row">
          <div class="col-6">
            <%= o.input :first_name, as: :string, label: 'Prénom' %>
          </div>
          <div class="col-6">
            <%= o.input :last_name, as: :string, label: 'Nom' %>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= o.input :email, as: :string, label: 'Email' %>
          </div>
          <div class="col-6">
            <%= o.input :zipcode, as: :string, label: 'Code Postal' %>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="field">
              <%= o.label :avatar, label: 'Votre photo' %>
              <%= o.file_field :avatar %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= f.button :submit, 'ENVOYER', class: "btn btn-sunglow mt-5" %>
  </div>
<% end %>
