<div class="footer p-5 paddingright-100px paddingleft-100px <%= current_page?(dashboard_user_path) ? 'backgroundcolor-grey' : '' %>">
  <div class="row">
    <div class="col">
      <%= image_tag "aktio-logo.png", class: "height-50px mb-4" %>
      <h5 class="mb-5">Libérez le pouvoir de sa maladie</h5>
      <p class="fontweight-300">Copyright © AkTIO</p>
    </div>
    <div class="col  pt-4 paddingleft-300px">
      <h5 class="mb-3">Nos Actions</h5>
      <%= link_to "#", class: "color-gray clean-link" do %>
        <p class="m-0 p-0">Le mentorat</p>
      <% end %>
      <%= link_to "#", class: "color-gray clean-link" do %>
        <p class="m-0 p-0">Le parcours</p>
      <% end %>
    </div>
    <div class="col pt-4 ">
      <h5>S'inscrire</h5>
      <%= link_to "#", class: "color-gray clean-link" do %>
        <p class="m-0 p-0">Trouver son mentor</p>
      <% end %>
      <%= link_to "#", class: "color-gray clean-link" do %>
        <p class="m-0 p-0">Organiser son parcours</p>
      <% end %>

    </div>
    <div class="col pt-4 ">
      <h5>Nous Contacter</h5>
      <%= link_to "#", class: "color-gray clean-link" do %>
        <p class="m-0 p-0">Via le formulaire</p>
      <% end %>
      <%= link_to "#", class: "color-gray clean-link" do %>
        <p class="m-0 p-0">Par mail</p>
      <% end %>
    </div>
  </div>
</div>
