<div class="navbar navbar-expand-sm navbar-light navbar-lewagon justify-content-between">
  <div class="navbar-left d-flex justify-content-between align-items-center">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.svg" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Notre Histoire", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nos Actions", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nous Contacter", "#", class: "nav-link" %>
          </li>
      </ul>
    </div>
</div>

  <div class="navbar-right">
    <div class="top-menu d-flex">
       <button class= "navbar-first-btn d-flex justify-content-center align-items-center"><%= link_to "Trouver un mentor", "#", class: "nav-link-button-first" %></button>
       <button class= "navbar-second-btn d-flex justify-content-center align-items-center"><%= link_to "Organiser mon parcours", "#", class: "nav-link-button-second" %></button>
    </div>
  </div>
</div>
