
  <div class="wrapper-story height-25vh color-cerulean-blue d-flex align-items-center position-relative">
    <div><%= image_tag "round.svg", class: "round position-absolute height-85px" %></div>
    <h1 class= "text-center title-story position-absolute "> NOTRE HISTOIRE</h1>
  </div>


<div class="page-section paddingright-150px paddingleft-100px">
  <div class="row ">
    <div class="col-6 d-flex flex-column justify-content-center">
      <p >   Si les mots cancer, leucémie, tumeur, vous font détourner le regard, vous mettent mal à l’aise et résonnent à vos oreilles de façon dérangeante car ils vous évoquent de la souffrance, c’est légitime, ce fut notre souffrance à Emna et à moi au rythme des piqûres et du grésillement des machines auxquelles nous étions reliées.
      Ce projet  a commencé par notre rencontre fortuite lors d’une formation en informatique. Emna, issue du secteur de la pub et moi, Thanh, issue de la tech & finance, nous nous sommes lancées dans cette aventure.  Nous avons constaté que les tourments de la maladie furent laborieux, certes mais pas autant que nous l’avions imaginé. Le chemin était alors limpide et cadré par les traitements que l’on nous injectait.
      Le retour à la réalité, en revanche, nous a semblé terrifiant. Nous avons réalisé que nous étions à la recherche d’un sens commun : nous relever de la maladie qui nous avait épuisé physiquement, moralement, et saisir la chance qui nous avait été accordée d’être encore en vie.
      L’avalanche de questionnements et les multiples réflexions sur les raisons qui nous avaient conduit à tomber malade en l’absence de facteurs génétiques, le stress auquel nous avons été confronté avant la maladie et la crainte d’en être de nouveau diagnostiqué ne faisaient qu’élargir le fossé entre nous et la société, ne faisait qu’éloigner un peu plus notre retour en entreprise et notre éventuelle réintégration sociale. Un cheminement sans fin, un tunnel qui semblait interminable. Alors que les autres trouvaient du travail et évoluaient, un an s’écoulait tandis que nous tentions de garder le cap à travers nos activités de freelance, de formations supplémentaires mais le sens même de nos décisions demeurait flou.</p>
    </div>
    <div class="col-6 p-5 d-flex justify-content-center" style="background-image: url(<%= asset_path 'sunglowblob2.svg' %>); background-size: contain; background-position: top; background-repeat: no-repeat;">
      <%= image_tag "06.png", class: "height-450px margintop-neg2pc" %>
    </div>
  </div>
</div>

<div class="page-section paddingright-150px paddingleft-100px">
  <div class="row mt-4">
    <div class="col-6 p-5 d-flex justify-content-center" style="background-image: url(<%= asset_path 'sunglowblob2.svg' %>); background-size: contain; background-position: top; background-repeat: no-repeat;">
      <%= image_tag "02.png", class: "height-450px margintop-neg2pc" %>
    </div>
    <div class="col-6 p-4 d-flex flex-column justify-content-center">
      <p > Un matin j’ai réalisé que j’avais besoin d’un travail ou d’une mission qui allait non seulement m’aider à me réveiller tous les jours mais qui allait aussi apaiser mes interrogations.
      Entre 25 et 35 ans, on est trop vieux pour être un jeune adulte et bénéficier des aides qui sont généralement attribuées. On se sent aussi isolé lorsque l’on se retrouve dans un atelier où les participants ont, pour la majorité, plus de 50 ans.
      Entre 25 et 35 ans, on est supposé vivre les plus belles et les plus déterminantes années de notre vie, fonder une famille, évoluer dans un secteur professionnel qui nous semble épanouissant mais lorsque la chimiothérapie risque d’ébranler tout espoir de fertilité et que la route vers la guérison s’étire longuement encore, ces années-là peuvent paraître insurmontables.
      Si les mots cancer, leucémie, tumeur vous sont familiers alors vous ne naviguez pas sur ce site par hasard. Vous craignez sans doute aussi que la maladie n’engloutisse votre identité or cela n’a pas à être le cas. Vous n’êtes pas un cancer mais ce cancer déterminera certainement le reste de votre vie. Si vous souhaitez vous reconstruire alors vous êtes au bon endroit. Loin de nous l’idée de vous offrir un discours larmoyant ou un endroit submergé de jérémiades, bien au contraire.
      Ce projet est le fruit de notre résilience à tous, il se nourrit de notre renaissance suite à la maladie et il se pare des armes que le cancer nous a permis de confectionner. Ce projet a pour but de dissiper nos doutes et d’offrir un lieu de partage, d’échange. Un lieu qui permet d’enjoliver le quotidien et de rappeler, même un peu, que la vie avec ou sans cancer, est tout simplement belle.</p>
    </div>
  </div>
</div>



