<div class="dashboard-admin d-flex">
  <%= render 'admin/shared/sidenav' %>

  <div class="dashboard-content col-sm-10 p-4 backgroundcolor-isabelline">
    <h1>Cours & Classes / Overview</h1>

    <div class="dashboard-admin-courses-index-active-classes mt-5 px-3 pt-3 backgroundcolor-white">
      <div class="d-flex justify-content-between ">
        <h5 class="mb-3">CLASSES / OUVERTES</h5>
        <%= link_to "Rajouter une classe", new_admin_course_path %>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Catégorie</th>
              <th>Nom</th>
              <th>Location</th>
              <th>Capacité</th>
              <th>Calendrier</th>
              <th>Participants</th>
              <th>Places restantes</th>
            </tr>
          </thead>
          <tbody>
            <% @courses.each do |course| %>
            <tr>
              <td><%= course.subject.category %></td>
              <td><%= course.subject.name %></td>
              <td><%= course.location %></td>
              <td><%= course.capacity %></td>
              <td><%= course.schedule %></td>
              <td><%= course.attendances.length %></td>
              <td><%= course.capacity - course.attendances.length %></td>
              <td class= "border-top-2px"><%= link_to admin_course_path(course.id) do %>
                <i class="far fa-eye color-white "></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mt-3 px-3 pt-3">
      <div class="dashboard-admin-courses-index col p-4 mr-1 backgroundcolor-white">
        <h5 class="mb-3">COURS / HEAD</h5>

        <% @head_subjects.each do |subject| %>
          <%= link_to admin_subject_path(subject), class: "clean-link" do %>
            <div class="dashboard-card p-4 d-flex align-items-center justify-content-between">
              <p class="m-0"><%= subject.name %></p>
              <h5 class="">X classes</h5>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="dashboard-admin-courses-index col p-4 ml-1 backgroundcolor-white">
        <h5 class="mb-3">COURS / CORPS</h5>

        <% @body_subjects.each do |subject| %>
          <%= link_to admin_subject_path(subject), class: "clean-link" do %>
            <div class="dashboard-card p-4 d-flex align-items-center justify-content-between">
              <p class="m-0"><%= subject.name %></p>
              <h5 class="">X classes</h5>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row mt-3 px-3">
      <div class="dashboard-admin-courses-index col p-4 mr-1 backgroundcolor-white">
        <h5 class="mb-3">COURS / CONFIANCE</h5>

        <% @confidence_subjects.each do |subject| %>
          <%= link_to admin_subject_path(subject), class: "clean-link" do %>
            <div class="dashboard-card p-4 d-flex align-items-center justify-content-between">
              <p class="m-0"><%= subject.name %></p>
              <h5 class="">X classes</h5>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="dashboard-admin-courses col p-4 ml-1 backgroundcolor-white">
        <h5 class="mb-3">COURS / COMPETENCES</h5>

        <% @skills_subjects.each do |subject| %>
          <%= link_to admin_subject_path(subject), class: "clean-link" do %>
            <div class="dashboard-card p-4 d-flex align-items-center justify-content-between">
              <p class="m-0"><%= subject.name %></p>
              <h5 class="">X classes</h5>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
