<div class="dashboard-admin d-flex">
  <%= render 'admin/shared/sidenav' %>

  <div class="dashboard-content col-sm-10 p-4 backgroundcolor-isabelline">
    <h1>Cours & Classes / Classe Ouverte</h1>
    <div class="dashboard-admin-courses-index-active-classes mt-5 px-3 pt-3 backgroundcolor-white">
      <div class="panel">
        <h5>Ouvrir une classe</h5>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-8">

            <%= simple_form_for (@course), :url => {:action => "create"}, class: "form-horizontal form-label-left" do |f|%>
              <div class="form-inline form-group">
                <label class= "label_admin col-md-3 col-sm-3 col-xs-1">Teacher</label><div class= "col-md-6 col-sm-6 col-xs-12"><%= f.association :teacher, collection: Teacher.order(:last_name), label_method: :last_name, prompt: "Choisissez un professeur", label: false%></div>
              </div>
              <div class="form-inline form-group">
                <label class= "label_admin col-md-3 col-sm-3 col-xs-1">Subject</label>
                <div class= "col-md-6 col-sm-6 col-xs-12">
                  <%= f.association :subject, label_method: :name, prompt: "Choisissez un sujet", label: false %>
                </div>
              </div>
              <div class="form-inline form-group">
                <label class= "label_admin col-md-3 col-sm-3 col-xs-1">Schedule</label><div class= "col-md-6 col-sm-6 col-xs-12"><%= f.input :schedule, label: false %></div>
              </div>
              <div class="form-inline form-group">
                <label class= "label_admin col-md-3 col-sm-3 col-xs-1">Location</label><div class= "col-md-6 col-sm-6 col-xs-12"><%= f.input :location, label: false %></div>
              </div>
              <div class="form-inline form-group">
                <label class= "label_admin col-md-3 col-sm-3 col-xs-1">Capacity</label><div class= "col-md-6 col-sm-6 col-xs-12"><%= f.input :capacity, label: false %></div>
              </div>
              <div class="d-flex justify-content-center">
                <%= f.submit "ENVOYER", class: "btn btn-sunglow mb-3 " %>
               </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

